@import "tailwindcss";
@plugin "@tailwindcss/typography";
body {
    @apply grid place-content-center p-2;
  }
module.exports = {
  theme: {
    extend: {
      scrollBehavior: ['responsive'],
    }
  }
}
